[submodule "themes/ezhil"]
	path = themes/ezhil
	url = git@github.com:vividvilla/ezhil.git
[submodule "public"]
	path = public
	url = git@github.com:jonathonlacher/jonathonlacher.github.io.git
	branch = master
